<div id="comments" class="comment-list">
  <% comments.each do |comment| %>
    <div class="comment-item">
      <%= link_to user_path(comment.user), class: "comment-avatar-link" do %>
        <%= render "commons/avatar",
              user: comment.user,
              class_name: "comment-avatar",
              size: [80, 80] %>
      <% end %>

      <div class="comment-body">
        <%= link_to comment.user.account_name, user_path(comment.user), class: "comment-user-name" %>
        <span class="comment-content"><%= comment.content %></span>
      </div>
    </div>
  <% end %>
</div>
