<header class="user-list-header">
  <%= link_to "←", user_path(user), class: "user-list-back" %>
  <h1 class="user-list-title"><%= title %></h1>
  <span class="user-list-header-placeholder"></span>
</header>
