<% if post.images.attached? %>
  <% image_count = post.images.count %>
  <% visible_images = post.images.first(4) %>

  <div class="feed-post-media">
    <div class="post-images-grid post-images-grid--<%= [image_count, 4].min %>">
      <% visible_images.each_with_index do |image, index| %>
        <div class="image-wrapper">
          <%= image_tag image.variant(resize_to_fill: [600, 600]).processed %>

          <% if image_count > 4 && index == 3 %>
            <div class="overlay">
              +<%= image_count - 4 %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>