<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <div class="post-card">
    <%= link_to post_path(post), class: "post-main-link" do %>
      <%= render 'commons/post', post: post %>
    <% end %>
  </div>
<% end %>

<%= link_to '新投稿', new_post_path %>